---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, sGate!</h1>
			<p>
				Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
				template serves as a lightweight, minimally-styled starting point for anyone looking to build
				a personal website, blog, or portfolio with Astro.
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>


<div id="__nuxt">
   <div class="bgCover bg-fixed"></div>
   <div>
      <div>
         <div>
            <div id="nav-menu-popup" style="display:none;" class="hide">
               <div class="nav-menu-body">
                  <i class="close-menu fas fa-times"></i>
                  <ul class="nav-menu">
                  </ul>
               </div>
            </div>
         </div>
         <div id="preview-container" class="preview-container hl_page-preview--content">
            <div>
               <div class="fullSection noBorder radius0 none c-section c-wrapper section-qUCnVhUKi1" style="" id="section-qUCnVhUKi1">
                  <div class="inner">
                     <div class="row-align-center noBorder radius0 none c-row c-wrapper row-frs7StYGTL" id="row-frs7StYGTL">
                        <div class="inner">
                           <div class="noBorder radius0 none c-column c-wrapper col-eRInwq-5NX" id="col-eRInwq-5NX">
                              <div class="vertical inner">
                                 <div id="image-tstGF75yGJ" class="c-image c-wrapper image-tstGF75yGJ">
                                    <div style="cursor:default;" class="image-container cimage-tstGF75yGJ">
                                       <div>
                                          <div>
                                             <picture class="hl-image-picture" style="display:block;">
                                                <source media="(max-width:900px) and (min-width: 768px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_900/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/6291145f684cae605134c9f9.jpeg">
                                                <source media="(max-width:768px) and (min-width: 640px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_768/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/6291145f684cae605134c9f9.jpeg">
                                                <source media="(max-width:640px) and (min-width: 480px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_640/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/6291145f684cae605134c9f9.jpeg">
                                                <source media="(max-width:480px) and (min-width: 320px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_480/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/6291145f684cae605134c9f9.jpeg">
                                                <source media="(max-width:320px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_320/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/6291145f684cae605134c9f9.jpeg">
                                                <img src="https://images.leadconnectorhq.com/image/f_webp/q_80/r_1200/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/6291145f684cae605134c9f9.jpeg" alt="" style="width:500px !important;object-fit:unset;" class="img-none img-border-none img-effects-none hl-optimized mw-100" loading="lazy" data-animation-class="">
                                             </picture>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="row-align-center noBorder radius0 none c-row c-wrapper row-spytl3k6Pp" id="row-spytl3k6Pp">
                        <div class="inner">
                           <div class="noBorder radius0 none c-column c-wrapper col-rpL4rxR-3r" id="col-rpL4rxR-3r">
                              <div class="vertical inner">
                                 <div id="sub-heading-oCwYqeoYzi" class="c-sub-heading c-wrapper">
                                    <div class="sub-heading-oCwYqeoYzi text-output csub-heading-oCwYqeoYzi noBorder radius0 none" data-animation-class="">
                                       <div>
                                          <h2><strong>- DOWNLOAD THE EBOOK</strong></h2>
                                       </div>
                                    </div>
                                 </div>
                                 <div id="heading-9us2jCuQUK" class="c-heading c-wrapper">
                                    <div class="heading-9us2jCuQUK text-output cheading-9us2jCuQUK noBorder radius0 none" data-animation-class="">
                                       <div>
                                          <h1><strong>Download our free Email Marketing eBook</strong></h1>
                                       </div>
                                    </div>
                                 </div>
                                 <div id="sub-heading-Nq_9BAWgNr" class="c-sub-heading c-wrapper">
                                    <div class="sub-heading-Nq_9BAWgNr text-output csub-heading-Nq_9BAWgNr noBorder radius0 none" data-animation-class="">
                                       <div>
                                          <h2>“Fill in your email below to receive your free copy and start exploring the powerful world of peptides today!”</h2>
                                       </div>
                                    </div>
                                 </div>
                                 <div id="bulletList-QUJDFbL95u" class="c-bullet-list c-wrapper">
                                    <div class="bulletList-QUJDFbL95u text-output cbulletList-QUJDFbL95u noBorder radius0 none" data-animation-class="">
                                       <div>
                                          <ul>
                                             <li>
                                                <p><strong>50+ Tips for Maximizing Your Performance</strong></p>
                                                <p></p>
                                                <h2>Discover expert advice and strategies for using peptides, SARMs, and nootropics to enhance muscle growth, accelerate recovery, and boost cognitive function.</h2>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div id="bulletList-ZZKRB4BcE7" class="c-bullet-list c-wrapper">
                                    <div class="bulletList-ZZKRB4BcE7 text-output cbulletList-ZZKRB4BcE7 noBorder radius0 none" data-animation-class="">
                                       <div>
                                          <ul>
                                             <li>
                                                <p><strong>12 Chapters on the Science and Application of Peptides</strong></p>
                                                <h2><br>Explore in-depth explanations and insights into the benefits, usage, and safety of peptides, SARMs, and nootropics. Learn how these compounds can transform your fitness and wellness journey.</h2>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div id="button-RwJ4hVxlrc" class="c-button c-wrapper button-RwJ4hVxlrc">
                                    <button data-animation-class="" id="button-RwJ4hVxlrc_btn" style="" class="cbutton-RwJ4hVxlrc none btnshadow custom btn-vp btn-hp noBorder radius0 none" aria-label="Get Free Access ">
                                       <div style="" class="main-heading-group">
                                          <div class="button-icon-start"></div>
                                          <div class="main-heading-button">Get Free Access</div>
                                          <div class="button-icon-end"></div>
                                       </div>
                                       <div style="display:none;left:50%;position:absolute;top:50%;transform:translate(-50%, -50%);" class="btn-loader-position">
                                          <div style="display:none;" class="v-spinner">
                                             <div class="v-moon v-moon1" style="height:30px;width:30px;border-radius:100%;">
                                                <div class="v-moon v-moon2" style="height:4.285714285714286px;width:4.285714285714286px;border-radius:100%;top:12.857142857142858px;background-color:rgb(255, 255, 255);"></div>
                                                <div class="v-moon v-moon3" style="height:30px;width:30px;border-radius:100%;border:4.285714285714286px solid rgb(255, 255, 255);"></div>
                                             </div>
                                          </div>
                                       </div>
                                    </button>
                                    <div>
                                    </div>
                                 </div>
                                 <div id="sub-heading-3jkE3Dsp4R" class="c-sub-heading c-wrapper">
                                    <div class="sub-heading-3jkE3Dsp4R text-output csub-heading-3jkE3Dsp4R noBorder radius0 none" data-animation-class="">
                                       <div>
                                          <p></p>
                                       </div>
                                    </div>
                                 </div>
                                 <div id="sub-heading-B7kA4-9k6_" class="c-sub-heading c-wrapper">
                                    <div class="sub-heading-B7kA4-9k6_ text-output csub-heading-B7kA4-9k6_ noBorder radius0 none" data-animation-class="">
                                       <div>
                                          <h2>This eBook is intended for educational and research purposes only. The products discussed are for laboratory research use only, not for human or veterinary use. While Umbrella Labs strives to provide accurate and up-to-date information, no guarantee is given that the content in this eBook is error-free or up-to-date. Always consult with a qualified health professional before starting any new treatment or regimen.</h2>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="noBorder radius0 none c-column c-wrapper col-1F5jBaisop" id="col-1F5jBaisop">
                              <div class="vertical inner">
                                 <div id="image-te8JssEfrF" class="c-image c-wrapper image-te8JssEfrF">
                                    <div style="cursor:default;" class="image-container cimage-te8JssEfrF">
                                       <div>
                                          <div>
                                             <picture class="hl-image-picture" style="display:block;">
                                                <source media="(max-width:900px) and (min-width: 768px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_900/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/667a6c1ea9ef866346cd8e91.png">
                                                <source media="(max-width:768px) and (min-width: 640px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_768/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/667a6c1ea9ef866346cd8e91.png">
                                                <source media="(max-width:640px) and (min-width: 480px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_640/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/667a6c1ea9ef866346cd8e91.png">
                                                <source media="(max-width:480px) and (min-width: 320px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_480/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/667a6c1ea9ef866346cd8e91.png">
                                                <source media="(max-width:320px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_320/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/667a6c1ea9ef866346cd8e91.png">
                                                <img src="https://images.leadconnectorhq.com/image/f_webp/q_80/r_1200/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/667a6c1ea9ef866346cd8e91.png" alt="" style="object-fit:unset;" class="img-none img-border-none img-effects-none hl-optimized mw-100" loading="lazy" data-animation-class="">
                                             </picture>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="fullSection noBorder radius0 none c-section c-wrapper section-d2PJ48GCV2" style="" id="section-d2PJ48GCV2">
                  <div class="inner">
                     <div class="row-align-center noBorder radius0 none c-row c-wrapper row-ghnFNrtrbv" id="row-ghnFNrtrbv">
                        <div class="inner">
                           <div class="noBorder radius0 none c-column c-wrapper col-Jwb4Pto9Lw" id="col-Jwb4Pto9Lw">
                              <div class="vertical inner">
                                 <div id="image-SmF7XUiQJf" class="c-image c-wrapper image-SmF7XUiQJf">
                                    <div style="cursor:default;" class="image-container cimage-SmF7XUiQJf">
                                       <div>
                                          <div>
                                             <picture class="hl-image-picture" style="display:block;">
                                                <source media="(max-width:900px) and (min-width: 768px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_900/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/667a738b01d4bd6aea951051.png">
                                                <source media="(max-width:768px) and (min-width: 640px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_768/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/667a738b01d4bd6aea951051.png">
                                                <source media="(max-width:640px) and (min-width: 480px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_640/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/667a738b01d4bd6aea951051.png">
                                                <source media="(max-width:480px) and (min-width: 320px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_480/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/667a738b01d4bd6aea951051.png">
                                                <source media="(max-width:320px)" srcset="https://images.leadconnectorhq.com/image/f_webp/q_80/r_320/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/667a738b01d4bd6aea951051.png">
                                                <img src="https://images.leadconnectorhq.com/image/f_webp/q_80/r_1200/u_https://assets.cdn.filesafe.space/lR2tAhmVns7AkQzDTo8d/media/667a738b01d4bd6aea951051.png" alt="" style="object-fit:unset;" class="img-none img-border-none img-effects-none hl-optimized mw-100" loading="lazy" data-animation-class="">
                                             </picture>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="fullSection noBorder radius0 none c-section c-wrapper section-YAjGKcQW5p" style="" id="section-YAjGKcQW5p">
                  <div class="inner">
                     <div class="row-align-center noBorder radius0 none c-row c-wrapper row-gQrqHAGNbG" id="row-gQrqHAGNbG">
                        <div class="inner">
                           <div class="noBorder radius0 none c-column c-wrapper col-nKdLcXi4-x" id="col-nKdLcXi4-x">
                              <div class="vertical inner">
                                 <div id="sub-heading-u_4KhAvh9y" class="c-sub-heading c-wrapper">
                                    <div class="sub-heading-u_4KhAvh9y text-output csub-heading-u_4KhAvh9y noBorder radius0 none" data-animation-class="">
                                       <div>
                                          <h2><strong>What’s Included:</strong></h2>
                                       </div>
                                    </div>
                                 </div>
                                 <div id="sub-heading-eVQI3nnKOJ" class="c-sub-heading c-wrapper">
                                    <div class="sub-heading-eVQI3nnKOJ text-output csub-heading-eVQI3nnKOJ noBorder radius0 none" data-animation-class="">
                                       <div>
                                          <h2>* Comprehensive Coverage: From basics to advanced applications, our eBook details everything you need to know about peptides.</h2>
                                          <p></p>
                                          <h1>* Peptide Profiles: Deep dives into various peptides such as BPC-157, TB-500, and more, including their uses and effects.</h1>
                                          <p></p>
                                          <h1>* Comparison Sections: Understand the differences between Peptides vs. Steroids and Peptides vs. SARMS.</h1>
                                          <p></p>
                                          <h1>* Safety Profiles: Detailed analysis on the safety of peptides.Special Focus: Insights into peptide cycles for muscle growth, fat loss, skin rejuvenation, and life extension.</h1>
                                          <p></p>
                                          <p>* Special Focus: Insights into peptide cycles for muscle growth, fat loss, skin rejuvenation, and life extension.</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div id="sub-heading-3tyqrhYvor" class="c-sub-heading c-wrapper">
                                    <div class="sub-heading-3tyqrhYvor text-output csub-heading-3tyqrhYvor noBorder radius0 none" data-animation-class="">
                                       <div>
                                          <h2><br><strong>Benefits of Choosing Umbrella Labs:</strong></h2>
                                       </div>
                                    </div>
                                 </div>
                                 <div id="sub-heading-l6c_ms9LoP" class="c-sub-heading c-wrapper">
                                    <div class="sub-heading-l6c_ms9LoP text-output csub-heading-l6c_ms9LoP noBorder radius0 none" data-animation-class="">
                                       <div>
                                          <h2>* Purity Guaranteed: Each product batch is rigorously tested for purity using advanced chromatography techniques.</h2>
                                          <p></p>
                                          <h1>* Expert Formulations: Developed by scientists with a firm grounding in peptide research.</h1>
                                          <p></p>
                                          <h1>* Educational Support: Not just products, but a commitment to educating our users on the best practices and potential of peptides.</h1>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="fullSection noBorder radius0 none c-section c-wrapper section-qO_qbsJ0Vb" style="" id="section-qO_qbsJ0Vb">
                  <div class="inner">
                     <div class="row-align-center noBorder radius0 none c-row c-wrapper row-KxOhzXq3Me" id="row-KxOhzXq3Me">
                        <div class="inner">
                           <div class="noBorder radius0 none c-column c-wrapper col-OJA6LDQgo-" id="col-OJA6LDQgo-">
                              <div class="vertical inner">
                                 <div id="sub-heading-Y_vdJFIqtN" class="c-sub-heading c-wrapper">
                                    <div class="sub-heading-Y_vdJFIqtN text-output csub-heading-Y_vdJFIqtN noBorder radius0 none" data-animation-class="">
                                       <div>
                                          <h2><br>Copyright © 2024 | <a target="_blank" rel="noopener noreferrer nofollow" href="http://Umbrellalabs.is">Umbrellalabs.is</a> All rights reserved</h2>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>



		<Footer />
	</body>
</html>
